header {
    display: flex;
    justify-content: center;
    width: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(182, 179, 179);
}

nav h3 {
    width: 100%;
}
button {
   outline: none;
   border: none; 
}

nav a {
    text-decoration: none;
    color: black;
}

.auth-btn {
    background-color: cadetblue;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.logged-in {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
}

.authenticate {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 20px;
}

.signup-login {
    text-align: center;
}

.form-page h1 {
    text-align: center;
}

.form-container {
    width: 30%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(179, 176, 176);
    border-radius: 10px;
}

.form-container input {
    margin-block: 10px;
    padding: 5px;
}

.form-container button { 
   margin: 0 auto;
   font-size: 15px;
   background-color: aqua;
   border: none;
   margin-top: 10px;
   padding: 10px;
   padding-inline: 15px;
}

.welcome {
    margin: 100px auto; 
    width: 90%; 
}

.welcome h1{
  font-size: 60px;
  color: cadetblue;
}

.welcome p {
  font-size: 30px;
  margin-bottom: 50px;
}

.welcome a {
  text-decoration: none;
  font-size: 25px;
  padding-inline: 10px;
  padding-block: 5px;
  background-color: cadetblue;
  color: white;
  border-radius: 10px;
}

.post-index {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.post-index h1 {
  color: cadetblue;  
  border-bottom: 2px solid black;
  font-size: 35px;
}

.new-post {
    text-decoration: none;
    font-size: 20px;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
    margin-top: 30px;  
}

.post-index ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  list-style: none;
  padding-left: 0;
}

.post-index ul li {
    background-color: beige;  
    padding: 10px;
}

.post-index ul li a{
  text-decoration: none;
  color: black;
}

.post-details h4{
  font-size: 23px;  
}

.extra {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 20px;
}

.post-show {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.post-info h4 {
    font-size: 35px;
    color: cadetblue;
}

.post-text {
  font-size: 20px;  
}

.comments ul {
  list-style: none;
  padding-left: 0;

}

.comments ul li { 
  text-align: left;
  margin-block: 10px;
  background-color: beige; 
  padding: 10px;
}

.comments ul li a { 
  text-decoration: none;
  color: black;
}

.post-update-delete{
   margin-block: 20px; 
   display: flex;
   justify-content: center;
   gap: 30px;
}

.add-comment {
    text-decoration: none;
    font-size: 20px;
    padding-inline: 10px;
    padding-block: 5px;
    background-color: cadetblue;
    color: white;
    border-radius: 10px;
    margin-block: 100px;  
}

.search {
   width: 300px;
   height: 30px; 
}

.flash-message {
    position: fixed;
    top: 0;
    left: 40%;
    transform-origin: 50%;
    background-color: cadetblue;
    padding-inline: 55px;
    padding-block: 2px;
    border-radius: 3px;
    color: white;
}